/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */

vaadin-grid::part(cell){
  background-color:rgba(255,107,0,0.72);
  border-color:rgba(0,0,0,0.9);

  border-width:2px;
  color:rgba(0,0,0,0.9);
  padding-inline:var(--lumo-space-s);

}
vaadin-grid::part(header-cell){
background-color:rgba(82,81,153);
color: white;
}

vaadin-grid {
border-color:rgba(0,0,0,0.9);border-width:2px;
background-color:rgba(184,171,217,1); }


h1.i-ng-login-generator-view-h1-1 {
  color:rgba(0,0,0,1);
  font-family:Consolas;
}

vaadin-app-layout.main-layout-app-layout-1 { background-color:rgba(184,171,217,1); }

vaadin-app-layout.main-layout-app-layout-1::part(drawer) { background-color:rgba(255,138,0,1); }

vaadin-app-layout.main-layout-app-layout-1::part(navbar) { background-color:rgba(255,149,0,1); }

vaadin-button.i-ng-login-generator-view-button-1 {
  background-color:rgba(82,81,153);
  border-color:rgba(255,136,0,1);
}

vaadin-button.i-ng-login-generator-view-button-1::part(label) { color:var(--lumo-body-text-color); }

vaadin-text-field.i-ng-login-generator-view-text-field-1::part(input-field)
{ border-color:rgba(0,0,0,1); }

vaadin-text-field.i-ng-login-generator-view-text-field-2::part(error-message) { color:rgba(0,0,0,1); }

vaadin-text-field.i-ng-login-generator-view-text-field-2::part(input-field) {
  background-color:rgba(255,107,0,0.72);
  border-color:rgba(0,0,0,0.9);
}

vaadin-text-field::part(input-field) {
  background-color:rgba(255,107,0,0.72);
  border-color:rgba(0,0,0,0.9);
  border-style:solid;
  border-width:2px;
  color:rgba(0,0,0,0.9);
  padding-inline:var(--lumo-space-s);
}

vaadin-text-field::part(label) { color:rgba(0,0,0,0.69); }

vaadin-vertical-layout.about-view-vertical-layout-1 {
  background-color:rgba(173,62,62,0);
  border-color:rgba(232,167,21,0.9);
}
